/***** Reset ******/
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: Courie;
}
#main {
  margin: 0;
  padding: 15px;
  border-radius: 5px;
  background: #eeeeee;
}

#title {
  width: 100%;
  height: auto;
  font: large/50px Courie;
  background-color: #c9f068;
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px 20px 0px 0px;
}
h1, h2, h3, p{
  text-align: center;
  margin-top: 12px;
}

section{
  width: 100%;
  background-color: #EAF39E;
  padding: 24px;
  box-sizing: border-box;
}

figure{
  height: auto;
  width: 80%;
  margin: auto;
  padding: 5%;
  box-sizing: border-box;
  background-color: rgba(214, 214, 210, 0.6);
  border-radius: 30px;
  color: #4A7C11;
}

img {
  max-width: 70%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 20px;
}

#img-caption {
  margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
  #img-caption {
    widht: 100%;
  }
}

li{
  list-style-type: none;
}

.lineadetiempo{
margin-left: 10px;
margin-right: 5px;
}

blockquote{
  margin: 36px;
  background-color: rgba(252, 252, 251, 0.905);
  border-radius: 12px;
  padding: 12px;
}

footer{
  width: 100%;
  height: 80px;
  letter-spacing: 1px;
  word-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
  background-color: #AEF107;
  border-radius: 0 0 20px 20px;
}
