body{
  font-family: Courie;
}
#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eeeeee;
}

header{
  width: 100%;
  height: 50px;
  font: large/50px Courie;
  background-color: #AEF107;
  margin: 0px;
  border-radius: 20px 20px 0px 0px;
}
h1, h2, h3, p{
  text-align: center;
}

section{
  width: 100%;
  height: 1100px;
  background-color: #EAF39E;
  margin: 0px;
}

figure{
  height: 340px;
  width: 80%;
  margin-top: 0px;
  padding: 5%;
  box-sizing: border-box;
  background-color: rgba(214, 214, 210, 0.6);
  border-radius: 30px;
  color: #4A7C11;
}

img {
  max-width: 60%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 20px;
}

#img-caption {
  margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
  #img-caption {
    widht: 50%;
  }
}

li{
  list-style-type: none;
}
#lineadetiempo{
margin-left: 10px;
margin-right: 5px;
}

blockquot{
  margin-top: 0px;
  margin-bottom: 0px;
}
footer{
  width: 100%;
  height: 26px;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-transform: uppercase;
  margin: 0px;
  background-color: #AEF107;
  border-radius: 20px;
}
