html {
  font-size: 15px;
}

body {
  /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
  background-color: #10992D;
  color: #F12307;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
  
  a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

#main{
background-color: #F2835C;
text-align: center;
color: #576A2A;
font-family: Arial;
margin: 30px 8px;
padding: 15px;
border-radius: 5px;
}

  @media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
max-width: 100%;
display: block;
height: auto;
margin: 0 auto;
}

#img-div {
background: white;
padding: 10px;
margin: 0;
}

#img-caption {
margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
#img-caption {
font-size: 1.4rem;
 }
}
  
#headline {
margin: 50px 0;
text-align: center;
}

#pie{
font-family: Arial;
height: 50px;
letter-spacing: 20px;
font-weight: bolder;
heigth: 100px;
background-color: #10992D;
}

#tribute-info{
background-color: #10992D;
text-decoration: none;
letter-spacing: 10px;
font-size: large;
}